/* start variables */
:root {
  --main-color: #121643;
  --second-color: #f0f9fe;
  --third-color: #bf296a;
  --fourth-color: #37b9a0;
}
/* end variables */
/* start global rules */
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #00000025;
  z-index: -10;
  position: relative;
}

.container {
  margin: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}
/* end global rules */
/* start header */
header {
  height: 80px;
  width: 100%;
  background-color: var(--main-color);
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo div {
  width: 40px;
  height: 40px;
  background-color: var(--fourth-color);
}

header nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  margin: 0 15px;
  overflow: hidden;
  height: 100%;
}

header nav ul li a {
  color: var(--second-color);
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  position: relative;
  height: 100%;
  z-index: 2;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #f0f9fe98;
  background-color: #37b9a080;
  left: 100%;
  bottom: 0;
  z-index: -1;
  display: none;
  transition: 0.3s;
  animation-name: filling;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

header nav ul li:hover a::after {
  left: 0;
  display: block;
}
/* end header */
/* start animations */
@keyframes filling {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
/* end animations */
